<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.branch.zaraapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.ZaraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity1"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="zaraapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- AppLink config -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="aotb.app.link"
                    android:scheme="https" />
                <data
                    android:host="aotb.app.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity2"
            android:label="Activity2"
            android:launchMode="singleTask">
            <meta-data
                android:name="io.branch.sdk.auto_link_path"
                android:value="monster/view/" />
        </activity>

        <activity
            android:name=".Activity3"
            android:label="Activity3"
            android:launchMode="singleTask"/>

        <activity
            android:name=".Activity4"
            android:label="Activity4"
            android:launchMode="singleTask" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_keqQ9jdymNSKqnCrmNau6kmivCl7bdvO" />

        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_bntR0nmuaGUREjsDlGoB3gbfFyk4abww" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>